@import '../abstract/variables';

body {
  background: $white;
  .registerheader {
    background: $white;
    padding: 1.1rem;
    .containerheader {
      display: flex;
      justify-content: center;
      align-items: baseline;
      align-content: center;
      img {
        width: 12%;
      }
    }
  }
  .loginmain {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-content: center;
    padding: 3rem 0rem 11rem 0rem;

    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    .desclogin {
      font-weight: 900;
      font-family: $font;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }
    .facebookregister {
      width: 90%;
      margin: 0 auto;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 1rem 6rem;
      background-color: #405a93;
      border-radius: 50px;
      &:hover {
        transform: scale(1.06);
      }
      .fontrede {
        font-weight: 600;
        font-family: $font;
        color: $white;
        font-size: 1rem;
      }
    }
    .googleregister {
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      cursor: pointer;
      padding: 1rem 7rem;
      background-image: linear-gradient(to left top, #4285F4, #0F9D58, #F4B400, #DB4437);
      border-radius: 50px;
      &:hover {
        transform: scale(1.06);
      }
      .fontrede {
        font-weight: 600;
        font-family: $font;
        color: $white;
        font-size: 1rem;
      }
    }
    .orregister {
      text-align: center;
      font-family: $font;
      font-size: 1rem;
      &::before {
        content: '';
        width: 190px;
        height: 1px;
        background: $gray;
        display: inline-block;
        margin: 0rem 1rem .25rem 0rem;
      }
      &::after {
        content: '';
        width: 190px;
        height: 1px;
        background: $gray;
        display: inline-block;
        margin: 0rem 0rem .25rem 1rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 1rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          font-family: $font;
          font-weight: bold;
          font-size: .9rem;
        }
        input {
          border: 1px solid $black;
          padding: .7rem .5rem;
          border-radius: 3px;
          &:focus-within {
            border: 3px solid $black;
          }
        }
        .containerpassword {
          position: relative;
          #mostrar-senha {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            font-size: 18px;
            color: #999;
            cursor: pointer;
          }
        }
        .registernumber {
          text-decoration: underline;
          cursor: pointer;
          color: #117a37;
          font-family: $font;
          font-size: .9rem;
          font-weight: 400;
        }
      }
      .inputdate {
        .date {
          display: flex;
          flex-direction: row;
          gap: 20px;
          input {
            width: 120px;
          }
          #monthregister {
            width: 100%;
          }
        }
      }
      .gender {
        display: flex;
        flex-direction: column;
        .checkboxsex {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          .radiobox {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }
        }
      }
      .promotion {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .promotion {
          display: flex;
          flex-direction: row;
          label {
            font-size: .9rem;
            font-family: $font;
            font-weight: 500;
          }
          input[type="checkbox"]:checked {
            background-color: #00ff00;
          }
        }
        .promotion3 {
          display: flex;
          flex-direction: row;
          span {
            color:$color-green-link;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              color:$color-green-link-hover;
            }
          }
        }
      }
    }
    .politic {
      text-align: center;
      font-family: $font;
      font-size: .7rem;
      margin-top: 1rem;
      span {
        color:$color-green-link;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color:$color-green-link-hover;
        }
      }
    }
    .singupregister {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 1.7rem 3.5rem;
      border-radius: 50px;
      margin: 0 auto;
      background-color: $color-green-hoverbutton;
      text-align: center;
      color: #000;
      font-family: $font;
      font-weight: bold;
      &:hover {
        transform: scale(1.05);
        background-color: #32db6d;
      }
    }
    .haveanaccuont {
      text-align: center;
      font-family: $font;
      a {
        text-decoration: underline;
        color:$color-green-hoverbutton;
        cursor: pointer;
        &:hover {
          color:$color-green-link-hover;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  body {
    .registerheader {
      .containerheader {
        img {
          width: 35%;
        }
      }
    }
    .loginmain {
      padding: 0rem 1rem 10rem 1rem;
      .desclogin {
          font-size: 1.5rem;
          margin-top: .3rem;
      }
      .facebookregister {
        padding: 1rem 1rem;
      }
      .googleregister {
        padding: 1rem 1rem;
      }
      .orregister {
        &::before {
          width: 110px;
        }
        &::after {
          width: 110px;
        }
      }
      .inputdate {
        .date {
          .inpuregister {
            width: 60px;
          }
          #monthregister {
            width: 120px;
          }
        }
      }
      .signup {
        margin-bottom: 1.5rem;
        padding: 1rem 2rem;
      }
    }
  }
}

